/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

p, a {
    font-size: 3rem;
}

/* All text is white! */
h1, h2, h3, p, a {
    color: rgb(225, 239, 230);
}

a:hover {
    color:gray;
}

/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* header section */

.header-top {
    background-color: rgb(0, 4, 17, .8);
    text-decoration: none;
    padding: 2%;
}

h1 {
    text-align:center;
    font-size: 5rem;
}

/* desktop header navigation*/
header nav {
    width:90%;
    margin: 1% auto;
}

.social-media {
    width:90%;
    display:flex;
    margin: 2% auto;
    justify-content: center;
}

.links {
    width: 90%;
    display:flex;
    justify-content: space-around;
}

header nav a {
    width: 90%;
    text-align:center;
    font-size: 2rem;
}

header .social-media a {
    width: 5%;
    margin: 0 4%;
}

/* spacers */
.spacer {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    text-align: center;
    background-color: rgb(0, 4, 17);
}

.gallery h2 {
    padding: 2%;
}

.gallery .row {
    display:flex;
    margin: 4% auto;
    flex-flow: row wrap;
    width: 80%;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
}

.row img {
    width: 30%;
    margin: 1%;
}



/* about us section */
.about {
    width: 100%;
    height: 75vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
    font-size: 5rem;
}

.about h3 {
    font-size: 4rem;
}

.about p {
    font-size: 2rem;
}

.about-container .text {
    width: 60%;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact h2 {
    padding-top: 5vh;
    font-size: 4rem;
}

.contact h3 {
    padding-top: 2.5vh;
    font-size: 3.5rem;
}

.contact p, a{
    font-size: 3rem;
}

.info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.address, .hours, .contacts {
    width: 30%;
}


/* footer section */
footer {
    background-color: rgb(0, 4, 17);
    width: 100%;
    padding-bottom: 15vh;
    margin: 0;
    font-size: 3rem;
    display:flex;
    flex-direction: row;
}

 .footer-left {
    width: 50%;
    height: inherit;
    align-content: center;
    justify-content: center;
    display: flex;
}

.email-signup {
    width: 80%;
}

.footer-left p {
    font-size: 2rem;
}

input {
    width: 65%;
    margin: 0;
}

.footer-left button {
    margin: 0;
}

footer nav {
    /* justify-items: flex-end; */
}

.footer-right {
    width: 60%;
    height: inherit;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1vh;
}

footer nav {
    width: 100%;
    display: flex;
    padding-left: 5%;
    justify-content: space-around;
}

.footer-right nav a {
    font-size: 2rem;
}

.copyright {
    padding-right: 10%;
    align-self: flex-end;
}

.copyright p {
    font-size: 1rem;
}

a:hover {
    color: #808080;
} 

/* //////////////////////////////////////////////////////////////////////////// MEDIA QUERY < 800PX (TABLET) ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* Media Query Max Width 800px*/
@media (max-width: 800px) {
    header h1 a {
        text-align: center;
        font-size: 4rem;
        line-height: 1.2;
        font-size: 10vw;
    }

    /* header section */
    header nav {
        flex-direction: column;
        justify-content: center;
    }

    .links {
        width: 100%;
        text-align:center;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .info {
        margin: 0 auto;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content: center;
    }
    .address, .hours, .contacts {
        width: 100%;
    }

    footer, .footer-left, .footer-right, .email-signup {
        width: 100%;
        display:flex;
        flex-direction:column;
        align-items: center;
    }

    .email-signup {
        padding: 2%;
    }

    .email-signup p {
        padding: 2%;
    }

    input, button {
        width: 80%;
        margin: 2%;
    }

    footer nav {
        display:flex;
        flex-direction:column;
        align-items: center;
        padding: 2% 0;
        padding-top: 4%;
    }


    .copyright {
        margin:0;
        padding-left: 0;
        padding:2% 0;
        align-self: center;
    }
    
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// MEDIA QUERY <428PX (MOBILE) //////////////////////////////////////////////////////////////////////////////////////////// */
/* mobile media query */
@media (max-width: 428px) {

    /* Header Tags */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    

    /* gallery section */
    .gallery {
        height: auto;
    }
    
    /* about us section */

    .about {
        width: 100%;
        height: auto;
    }
    
    .about h2 {
        width: 100%;
        padding-top: 5vh;
    }
    
    .about-container .text {
        width: 85%;        
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
    }
    

    .address, .hours, .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
    footer {
        padding-top: 2.5vh;
        font-size: 2rem;
    }
}
