/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}


/* header section */
header {
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* spacer */
.spacer {
    width: 100%;
    height: 15vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 5vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-color: rgb(0, 4, 17);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* ///////////////////////////////////// *
 * ///////////////////////////////////// * 
 * ////// MY DESKTOP CODE ////////////// *
 * ///////////////////////////////////// * 
 * ///////////////////////////////////// */


/* .layer provides a semi-transparent black layer over the background image for the menu */
.layer {
    width: 100%;
    background-color: rgba(0, 4, 7, .8);
}

/* MENU TITLE: "Food & Drink" */
.menu h2 {
    padding-top: 4vh;
    text-align: center;
}

/* Holds the menu-section divs */
.menu-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

/* MENU SECTION (e.g. Drinks, Appetizers, etc.), holds menu-item divs */
.menu-section {
    width: 30%;
    margin: 2vh 4%;
}

.menu h3 {
    font-size: 3.5rem;
}

/* MENU ITEM (e.g. Soda, Coffee, etc.) holds .title-price (line with the title and price) and 1-2 paragraphs */
.menu-item {
    width: 100%;
    margin: 10% 0;
    /* border: 3px solid black; */
}

.menu-item h4 {
    font-size: 2.5rem;
    color:white;
}

    /* Contains two h4's - name of menu item and its price */
.menu-item .title-price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 0;
}

    /* p is used for the description of a menu item */
.menu-item p {
    font-size: 1.8rem;
    line-height: 1.3;
}

    /* Some menu items fit a (V)/(GF)/etc spcification on their own line and this is in italic. */
.menu-item p i {
    font-style: italic;
}
/* footer section */
/* copied and pasted from index.css bc my formatting was messed up */
/* footer section */
footer {
    background-color: rgb(0, 4, 17);
    width: 100%;
    height: 15vh;
    padding-bottom: 15vh;
    margin: 0;
    font-size: 3rem;
    display:flex;
    flex-direction: row;
    
}

footer .footer-left {
    width: 50%;
    height: inherit;
    align-content: center;
    justify-content: center;
    display: flex;
}

footer .footer-left .email-signup {
    width: 80%;
}

footer .footer-left p {
    font-size: 2rem;
}

footer .footer-left input {
    width: 65%;
    margin: 0;
}

footer .footer-left button {
    margin: 0;
}

footer .nav {
    justify-items: flex-end;
}

footer .footer-right {
    width: 60%;
    height: inherit;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 1vh;
}

footer .footer-right nav {
    width: 100%;
    display: flex;
    padding-left: 5%;
    justify-content: space-around;
}

footer .footer-right nav a {
    font-size: 2rem;
}

footer .footer-right .copyright {
    padding-right: 10%;
    align-self: flex-end;
}

.copyright p {
    font-size: 1rem;
}

a:hover {
    color: #808080;
}



/* ///////////////////////////////////// *
 * ///////////////////////////////////// * 
 * ////// MOBILE WIDTH < 428 /////////// *
 * ///////////////////////////////////// * 
 * ///////////////////////////////////// */

/* mobile media query */
@media (max-width: 428px) {
    /* header section */

    html {
        width: 100%;
    }

    /* Header Tags */
    .header-title {
        width: 75%;
        margin: 0 auto;
        text-align: center;
        font-size: 4rem;
    }

    header h1 a {
        text-align: center;
        font-size: 4rem;
        line-height: 1.2;
    }

    header nav, header .social-media {
        display:flex;
        flex-direction: column;
    }

    /* Menu Tags */
    .menu {
        background-image: none;
        background-color: rgb(225, 239, 230);
        color: black;
    }

    .layer {
        background-color: rgba(0,0,0,0);
    }

    .menu-container {
        flex-direction: column;
    }

    .menu-section {
        width: 90%;
        margin: 0 auto;
    }

    .menu-section h3 {
        margin: 0 auto;
        width:fit-content;
        padding: 1% 3%;
        border: 2px solid black;
    }

    h2, h3, .title-price h4, p {
        color:black;
        text-align: center;
    }

    .title-price {
        flex-direction: column;
        align-content: center;
    }
    
    /* Section Title */
    h3 {
        font-size: 3.5rem;
    }

    /* Item name and price */
    .title-price h4 {
        font-size: 3rem;
    }

    /* Item description */
    .menu-item p {
        font-size: 2.5rem;
    }
    /* footer section */
    footer {
        height: auto;
        padding-top: 2.5vh;
        font-size: 2rem;
    }
}


